body {
    display: flex;
    justify-content: space-evenly;
}

body > div {
    height: 500px;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin: auto;
    border: 5px solid black;
}

#rules {
    flex-grow: 1;
}

#settings {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}