body {
    display: flex;
    justify-content: space-evenly;

    background-color: #235347;
}

body > div {
    height: 500px;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 700px;
    margin: auto;
    border: 5px solid black;
}

#rules {
    flex-grow: 1;
}

#settings {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}