body {
    display: flex;
}

body > div {
    height: 500px;
}

#container-game {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 5px solid black;
}

#container-rules {
    flex-grow: 1;
}

#container-settings {
    flex-grow: 1;
}